@media (max-width: 768px) {
    .especiales .fichas {
        flex-direction: column;

        .dias {
            max-width: 100%;
            margin: 10px auto;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .especiales .fichas {
        flex-direction: row;
        flex-wrap: wrap;

        .dias {
            max-width: 45%;
            margin: 10px;
        }
    }
}

@media (min-width: 1025px) {
    .especiales .fichas {
        flex-direction: row;
        flex-wrap: wrap;

        .dias {
            max-width: 30%;
            margin: 10px;
        }
    }
}